
<div class="card p-4">
  <h2 class="mb-4 text-center">
    Inicia Sesión
  </h2>

  <form [formGroup]="loginForm">
    <div class="mb-3">
      <label for="username" class="form-label">Nombre de usuario:</label>
      <input type="text" class="form-control" id="username" formControlName="username" required autofocus />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Contraseña:</label>
      <input type="password" class="form-control" id="password" formControlName="password" required>
    </div>

    <button type="submit"
            class="btn btn-primary"
            [disabled]="!isValidForm()"
            (click)="login()">
      Iniciar Sesión
    </button>
  </form>
</div>
